<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-9">
                        <input #input (keyup)="buscarMedico( input.value )" class="form-control" type="text" placeholder="Buscar medicos">

                    </div>
                    <div class="col-lg-3">
                        <button class="btn waves-effect waves-light btn-rounded btn-primary" [routerLink]="['/medico', 'nuevo']"><i class="fa fa-plus"></i> Agregar medico</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">

    <div class="col alert alert-warning text-center">
        <strong>Cargando</strong>
        <br>
        <i class="fa fa-refresh fa-spin fa-2x"></i>
        <br>
        <small>Espere por favor</small>
    </div>

</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h3 class="card-title">Médicos registrados (<small>{{ totalRegistros }}</small>)</h3>

                <table class="table table-hover">

                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Hospital</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let m of medicos">
                            <td>
                                <img [src]="m.img | image:'medico'" class="img-50 img-circle">
                            </td>
                            <td>
                                {{ m.nombre }}
                            </td>
                            <td>
                                {{ m.hospital.nombre }}
                            </td>
                            <td>
                                <button class="btn btn-primary" [routerLink]="['/medico', m._id]"><i class="fa fa-edit"></i></button>
                                <button class="btn btn-danger" (click)="borrarMedico( m )"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <button *ngIf="desde != 0" (click)="cambiarDesde(-5)" class="btn btn-secondary">Anteriores</button>
                <button *ngIf="!((desde + 5) >= totalRegistros)" (click)="cambiarDesde(5)" class="btn btn-secondary">Siguientes</button>

            </div>
        </div>
    </div>
</div>