<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img [src]="usuario.img | image" alt="user" /><span class="hide-menu">{{ usuario.nombre }} </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a routerLink="/profile" routerLinkActive="active">Mi perfil </a></li>
                        <li><a [routerLink]="['/settings']" routerLinkActive="active">Ajustes</a></li>
                        <li><a class="pointer" (click)="_us.logout()">Cerrar sesión</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>


                <li *ngFor="let m of _ss.menu">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i class="{{ m.icono }}"></i><span class="hide-menu">{{ m.titulo }}</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li *ngFor="let s of m.submenu">
                            <a [routerLink]="[ s.url ]" routerLinkActive="active">{{s.titulo}}  </a>
                        </li>
                    </ul>
                </li>
                <div class="row text-center">
                    <li>
                        <a tabindex="0" data-toggle="popover" data-trigger="focus" title="Búsqueda general" data-content="Encuentra médicos, usuarios y hospitales.">
                            <div class="row text-center">
                                <div class="col-10 pr-0">
                                    <input #input (keyup.enter)="buscar( input.value )" placeholder="Búsqueda" type="text" class="form-control">
                                </div>
                                <div class="col-2 pl-0 pt-1"><i class="fa fa-search"></i></div>
                            </div>
                        </a>

                    </li>
                </div>


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->