<div class="row" *ngIf="!this.cargando">


    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">{{ graficos.autenticacion.leyenda }} </h4>

                <app-grafico-dona [chartLabels]="graficos.autenticacion.labels" [chartData]="graficos.autenticacion.data" chartType="doughnut"></app-grafico-dona>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">{{ graficos.entidades.leyenda }} </h4>

                <app-grafico-dona [chartLabels]="graficos.entidades.labels" [chartData]="graficos.entidades.data" chartType="doughnut"></app-grafico-dona>
            </div>
        </div>
    </div>


    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">{{ graficos.top3hospitales.leyenda }} </h4>

                <app-grafico-dona [chartLabels]="graficos.top3hospitales.labels" [chartData]="graficos.top3hospitales.data" chartType="doughnut"></app-grafico-dona>
            </div>
        </div>
    </div>



</div>